body {
  color: #efefef;
  background:#000;
  font-family:sans-serif;
  font-size: 1.4rem;
  font-stretch:condensed;
/*  transition:all 1s;*/
}

.msg, button {
  border:none;
  font-size:inherit;
  font-family:inherit;
}
#term {
  margin:auto;
/*  width:100%;*/
  max-width:1024px;
  background:#000;
  padding:1rem;
  box-sizing:border-box;
}
fieldset{border:none;}
img {
display:block;
  max-width:100%;
}
@media all and (max-width:800px){
  img {
    min-width:80%;
  }
}

@media all and (max-width:1024px){

}

#term .input:before{
  content:"> ";
  position:absolute;
  left:0;
  top:0;
}
#term .input {
  line-height:2;
  position:relative;
  margin:0;
  padding-left:2ch;
}
#term input{
  display:inline-block;
  background:none;
  border:none;
  max-width:100%;
  font-size:inherit;
  font-family:inherit;
  color:inherit;
  outline:none;
  z-index:99;
}
.suggest {
  display:flex;
  flex-wrap:wrap;
/*  justify-content:center;*/
/*  align-content:center;*/
}
.suggest {
/*  height:2rem;*/
}
.belt {
  display:flex;
  margin:0 0 1rem;
}
.belt button {
/*  padding:0 1ch 0 0;*/
  padding:1ch;
  margin:0
}
.suggest button {
  color:gray;
}
.key{
  color:#f4f4f4;
  background:none;
  border:none;
}
a {
  color: gray;
  text-align: center;
  display: block;
  position:relative;
  bottom:-1rem;
  padding:1rem;
  transition:all .6s;
}
a:hover {
  bottom:1rem;
}

button {
  transition:color .6s;
  position:relative;
  background:none;
  height:3rem;
}
button span {
  position:relative;
  z-index:1;
}
button:before {
  content:" ";
  display:block;
  position:absolute;
  width:100%;
  height:0px;
  top:50%;left:0;
  background:#000;
  transition:all .5s;
}
button:hover:before  {
  background:#FFF;
  height:3rem;
  top:0;
  transition:all .4s;
}

button:hover  {
  color:#000;
}
.tree {
text-align:center;
}

.branch {
  display:flex;
  justify-content:center;
}
.branch * {
  margin:3px 0;
padding:3px;
}
.branchtitle {
  text-align:center;
}
.img-container {

}
.screen:not(:last-of-type){
  opacity:.6;
}
.epicfromright {
  overflow:hidden;
}

.epicfromright img {
  position:relative;
  left:100%;
}
  .epicfromright.loaded img {
   animation:a 1s ease-out forwards;
}

@keyframes a {
  from {
    left:100%;
  }
  to {
    left:0;
  }
}
input[disabled=""] {
  opacity:0;
}

