
body {
  overflow-x:hidden;
  color: #efefef;
  background:#000;
  font-family:sans-serif;
  font-size: 1.4rem;
  font-stretch:condensed;
  position:absolute;
  width:100%;
}
.color-ok {
color:lightgreen;
}
.color-ko {
color:red;
}
.color-cmd {
color:chartreuse;
}
.color-room {
color:orange;
}
.color-people {
color:palevioletred;
}
.color-item {
color:magenta;
}
.mesg {
color:grey;
}
.notifications{
  position:fixed;
  z-index:0;
  right:0;
  top:0;
}
.inmsg {
  display:inline-block;
}
.badge {
  position:relative;
  text-align:center;
}
.badge-title {
  font-size:1.4em;
}
.badge img {
  width:16ch;
}
.badge-desc{
  opacity:1;
  animation:1s disappear 2s forwards;
}
.notification {
  padding:1rem;
}
.disappear {
  opacity:1;
  animation:disappear 2s forwards;
}
@keyframes disappear {
  to {
    opacity:0;
  }
}

.badge-desc{
  position:absolute;
  top:100%;
  left:0;
}
.badge-title{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:black;
}

.hashtag {
  color:indigo;
}
.flash:after{
  content:'';
  position:fixed;
  width:100%;
  height:100%;
  top:0;left:0;
  animation:flash .6s;
  background:#FFF;
}
@keyframes flash {
  from {
   opacity:0;
  }
  to {
   opacity:1;
  }
}
.msg, button {
  border:none;
  font-size:inherit;
  font-family:inherit;
}
.msg pre{
  display:inline;
}
.passinput:before {
  content:'#>';
}
.choicebox {
border: 10px solid #efefef;
padding: 1.4rem;
position: relative;
z-index: 10;
box-sizing: border-box;
}
.choicebox:after,
.choicebox:before {
  content:'';
  display:block;
  position:absolute;
  z-index:-1;
  border:4px solid #22b14c;
box-sizing: border-box;
}
.choicebox:before {
  width:calc(100% + 8px);
  height:calc(100% - 8px);
  left:-4px;
  top:4px;
}
.choicebox:after {
  height:calc(100% + 8px);
  width:calc(100% - 8px);
  top:-4px;
  left:4px;
}

.ghost-monitor,
.visually-hidden{
  position:absolute;
  left:-1000vw; top:0;
}
/*.visually-hidden {*/
/**/
/*}*/
.img-container {
  position:relative;
  z-index:0;
  width:100%;
  height:100%;
}
.img-container .layers {
  position:relative;
  display:inline-block;
}
.reverseY{
transform:scaleY(-1);
}
.reverseX{
transform:scaleX(-1);
}
.reverseY.reverseX{
transform:scale(-1,-1);
}
.img-container .layers .main {
  position:relative;
}
/*.img-container .layers .layer{*/
/*  position:absolute;*/
/*  top:50%;*/
/*  left:50%;*/
/*  transform:translate(-50%,-50%);*/
/*  z-index:0;*/
/*}*/
.layers.room-cage .people:nth-child(n+2) {
position: absolute;
bottom: 0;
}
.layers.room-cage .people:nth-child(2) {
left: -4rem;
z-index: -1;
}
.layers.room-cage .people:nth-child(3) {
left: 4rem;
z-index: -1;
}
.layer.people {
}
.layers .covering {
  z-index:1;
}
.layer.item:not(.large) {
  width:50%; height:50%;
}
.img-container .livelayer, .img-container .layers .background, .img-container .layers .foreground {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  display:flex;
  align-items:end;
}
.img-container .layers .background {
  z-index:-1;
}
.img-container .layers .foreground {
  z-index:1;
}
.epicfromright {
  overflow:hidden;
}

.epicfromright .layers {
  position:relative;
  left:100%;
}
.epicfromright.loaded .layers {
   animation:a 1.4s ease-out forwards;
}
.msg img {
  float:left;
}

#term .input-container {
/*  position:fixed;*/
  position:relative;

  background:#000;
  bottom:0;
  left:0;
  width:100%;
}
#term .input-div {
/*  padding:0 1rem;*/
  padding:0;
}
#term .input-div,
#term {
  margin:auto;
/*  width:100%;*/
/*  max-width:1024px;*/
  max-width:80ch;
  background:#000;
  box-sizing:border-box;
}
#term{
  padding:1rem;
   position:relative;
/*   top:-10rem;*/
/*margin-top:10rem;*/
}
fieldset{border:none;}
img {
display:block;
max-width:100%;
/*  max-width:12ch;*/
}

.screen:not(:last-of-type)  .layers{
  animation:fromfull 2s 1s forwards;
}
.msg > img {
max-width:12ch;
}
@keyframes fromfull{
 from {max-width:100%;}
 to {max-width:12ch;}
}
@media all and (max-width:800px){
  :not(.battlescene) > .img-container .main img {
    min-width:80%;
  }
}

@media all and (max-width:1024px){

}



.contribute:before {
   content:"<<";
   display:block;
   background:black;
   position:absolute;
   left:-2rem;
  width:100%;
  height:100%;
}
.contribute a {
   display:block;
  color: pink;
  text-align: center;
  position:relative;
  z-index:2;
}
.contribute{
  padding:1rem;
  margin:0;
   position:fixed;
   right:-20ch;
   top:2em;
   background:#000;
    border: 1px dashed pink;
   width:20ch;
   transition:all .6s ease-in;
}
.contribute:hover {
   right:0;
}



#term .input:before{
  content:"$ ";
  position:absolute;
  left:0;
  top:0;
}
#term .input {
  line-height:2;
  position:relative;
  margin:0;
  padding-left:2ch;
}
#term input{
  display:inline-block;
  background:none;
  border:none;
  max-width:100%;
  font-size:inherit;
  font-family:inherit;
  color:inherit;
  outline:none;
  z-index:99;
}
.suggest {
  display:flex;
  flex-wrap:wrap;
/*  justify-content:center;*/
/*  align-content:center;*/
}
.suggest {
/*  height:2rem;*/
}
.belt {
  display:flex;
  margin:0 0 1rem;
}
.belt button {
/*  padding:0 1ch 0 0;*/
  padding:1ch;
  margin:0
}
.suggest button {
  color:gray;
}
.suggest button.select {
background:white;
color:black;
}
.key{
  color:#f4f4f4;
  background:none;
  border:none;
}
button {
  transition:color .6s;
  position:relative;
  background:none;
  height:3rem;
}
button span {
  position:relative;
  z-index:1;
}
button:before {
  content:" ";
  display:block;
  position:absolute;
  width:100%;
  height:0px;
  top:50%;left:0;
  background:#000;
  transition:all .5s;
}
button:hover:before  {
  background:#FFF;
  height:3rem;
  top:0;
  transition:all .4s;
}

button:hover  {
  color:#000;
}
.tree {
text-align:center;
}

#term .choice input {
display:none;
}

.choice input:checked + .selectpointer
{
  background:#22b14c;
} 
.choice input:checked ~ label
{
  color:#22b14c;
} 
.selectpointer
{
  position:relative;
  background:#494949;
  display:inline-block;
  height: .3ch;
width: .3ch;
top: -.4ch;
margin-right: .6ch;
} 
.selectpointer:before,.selectpointer:after
{
  content:'';
  display:block;
  position:absolute;
  background:inherit;
} 
.selectpointer:before
{
  top:-100%;
  left:-100%;
  height:300%;
  width:100%;
} 
.selectpointer:after
{
  top:-200%;
  left:-200%;
  height:500%;
  width:100%;
} 
.branch {
  display:flex;
  justify-content:center;
}
.branch * {
  margin:3px 0;
padding:3px;
}
.branchtitle {
  text-align:center;
}
.screen:not(:last-of-type){
  opacity:.6;
}

@keyframes a {
  from {
    transform:translateX(-50%) rotate(-45deg);
    left:100%;
  }
  20% {
    transform:translateX(-50%) rotate(-360deg);
    left:0;
  }
  40%{
    transform:translateX(-50%) rotate(-360deg);
    left:0;
  }
  50% {
    transform:translateX(-50%) rotate(0deg);
    bottom:10px;
    left:25%;
  }
  to {
    transform:translateX(-50%) rotate(360deg);
    bottom:0;
    left:50%;
  }
}
@keyframes slidein {
  from {
    left:100%;
  }
  to {
    left:0;
  }
}
input[disabled=""] {
  opacity:0;
}

.megaprompt {
font-size: 4vw;
/*position: fixed;*/
/*width: 100vw;*/
/*height: 100vw;*/
/*left: 0;*/
/*top: 0;*/
/*z-index: 999;*/
}
.megaprompt > * {
  margin:auto;
  display: block;
  padding: 1em;
}
#term .megaprompt input {
  background: white;
  color: black;
}
.battlescene .red {
  background:red;
}
.battlescene .big img {
  width:150%;
  max-width:unset;
}
.battlescene-container{
  z-index:999;
  background:black;
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
   animation:slidein 1.4s ease-out forwards;
}
.battlescene {
  position:relative;
  padding:0 1rem;
  margin:auto;
/*  height:100vh;*/
  max-width:80ch;
/*  width:100%;*/
}
.battlescene .img-container {
/*  border:4px solid lightgreen;*/

}
.battlescene .img-container .layers {
  position:absolute;
}
