

body { overflow-x:hidden}
body {
  color: #efefef;
  background:#000;
  font-family:sans-serif;
  font-size: 1.4rem;
  font-stretch:condensed;
/*  transition:all 1s;*/
}

.msg, button {
  border:none;
  font-size:inherit;
  font-family:inherit;
}
.msg pre{
  display:inline;
}
.img-container {
}
.epicfromright {
  overflow:hidden;
}

.epicfromright img {
  position:relative;
  left:100%;
}
  .epicfromright.loaded img {
   animation:a 1s ease-out forwards;
}
.msg img {
  float:left;
}

#term .input-container {
  position:fixed;
  background:#000;
  bottom:0;
  left:0;
  width:100%;
}
#term .input-div {
  padding:0 1rem;
}
#term .input-div,
#term {
  margin:auto;
/*  width:100%;*/
/*  max-width:1024px;*/
  max-width:80ch;
  background:#000;
  box-sizing:border-box;
}

#term{
  padding:1rem;
   position:relative;
   top:-10rem;
margin-top:10rem;
}
fieldset{border:none;}
img {
display:block;
/*  max-width:12ch;*/
}
:not(.msg) > img {
  max-width:100%;
  animation:fromfull 2s 1s forwards;
}
.msg > img {
max-width:12ch;
}
@keyframes fromfull{
 from {max-width:100%;}
 to {max-width:12ch;}
}
@media all and (max-width:800px){
  img {
    min-width:80%;
  }
}

@media all and (max-width:1024px){

}

.contribute:before {
   content:"<<";
   display:block;
   background:black;
   position:absolute;
   left:-2rem;
  width:100%;
  height:100%;
}
.contribute a {
   display:block;
  color: pink;
  text-align: center;
  position:relative;
  z-index:2;
}
.contribute{
  padding:1rem;
  margin:0;
   position:fixed;
   left:100%;
   top:2em;
   background:#000;
   width:100%;
   transition:all .6s ease-in;
}
.contribute:hover {
   left:0;
}



#term .input:before{
  content:"> ";
  position:absolute;
  left:0;
  top:0;
}
#term .input {
  line-height:2;
  position:relative;
  margin:0;
  padding-left:2ch;
}
#term input{
  display:inline-block;
  background:none;
  border:none;
  max-width:100%;
  font-size:inherit;
  font-family:inherit;
  color:inherit;
  outline:none;
  z-index:99;
}
.suggest {
  display:flex;
  flex-wrap:wrap;
/*  justify-content:center;*/
/*  align-content:center;*/
}
.suggest {
/*  height:2rem;*/
}
.belt {
  display:flex;
  margin:0 0 1rem;
}
.belt button {
/*  padding:0 1ch 0 0;*/
  padding:1ch;
  margin:0
}
.suggest button {
  color:gray;
}
.key{
  color:#f4f4f4;
  background:none;
  border:none;
}
button {
  transition:color .6s;
  position:relative;
  background:none;
  height:3rem;
}
button span {
  position:relative;
  z-index:1;
}
button:before {
  content:" ";
  display:block;
  position:absolute;
  width:100%;
  height:0px;
  top:50%;left:0;
  background:#000;
  transition:all .5s;
}
button:hover:before  {
  background:#FFF;
  height:3rem;
  top:0;
  transition:all .4s;
}

button:hover  {
  color:#000;
}
.tree {
text-align:center;
}

.branch {
  display:flex;
  justify-content:center;
}
.branch * {
  margin:3px 0;
padding:3px;
}
.branchtitle {
  text-align:center;
}
.screen:not(:last-of-type){
  opacity:.6;
}

@keyframes a {
  from {
    left:100%;
  }
  to {
    left:0;
  }
}
input[disabled=""] {
  opacity:0;
}

